<div class="card border-light mb-3" style="max-width: 50rem;">
    <div class="card-body">
        <div class="card-header">
            <span><a class="btn btn-success" (click)="addTodo()">Add</a></span>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Target Date</th>
                    <th scope="col">Completed</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todo of todos">
                    <th scope="row">{{todo.id}}</th>
                    <td>{{todo.title}}</td>
                    <td>{{todo.targetDate| date}}</td>
                    <td *ngIf="todo">{{sayYesNo(todo.done)}}</td>
                    <span><a [routerLink]="['/todos','view',todo.id]" class="btn btn-sm btn-info">View</a></span>
                    <span><a [routerLink]="['/todos',todo.id,'edit']" class="btn btn-sm btn-warning">Edit</a></span>
                    <span><a [routerLink]="['/todos']" class="btn btn-sm btn-danger"
                            (click)="deleteTodo(todo.id)">Delete</a></span>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="mesgdelete" class="alert alert-success" role="alert">{{mesgdelete }} </div>