<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-body">

    <form (ngSubmit)="saveTodo()" #todoForm="ngForm">

      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" ngModel required #title="ngModel" class="form-control" *ngIf="todo"
          [(ngModel)]="todo.title">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3" *ngIf="todo" description required
          #description="ngModel" [(ngModel)]="todo.description"></textarea>
      </div>

      <div class="form-group">
        <label for="name">Target Date</label>
        <input type="date" id="targetDate" class="form-control" *ngIf="todo"
          [ngModel]="todo.targetDate | date: 'yyyy-MM-dd'" (ngModelChange)="todo.targetDate = $event"
          [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label for="done">Completed</label>
        <select name=done id="done" class="custom-select" *ngIf="todo" [(ngModel)]="todo.done">
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>
      </div>

      <button class="btn btn-primary" [disabled]="todoForm.invalid">Save Todo</button>
      <button class="btn btn-warning" [routerLink]="['/todos']">Cancel</button>

    </form>

  </div>
</div>